@charset "UTF-8";

@font-face {
  font-family: SEGOEUI;
  src: url("../fonts/SEGOEUI.TTF") format("truetype");
}

header {
  color: white;
  border: 2px dotted MidnightBlue;
  font-family: SEGOEUI;
  width: 400px;
  padding: 2px 2px 2px 2px;
  margin: 10px;
  text-align: center;
}

#top {
  color: pink;
  font-size: 20px;
  font-family: sans-serif;
}

h1 {
  color: Indigo;
  font: 40px Georgia, serif;

}

body {
  background-color: MediumAquaMarine;
  background-image: url("../images/saffron.jpg");
  background-size: 1920px 1080px;
  background-repeat:no-repeat;
  background-size:cover;
}

ul {
  color: Indigo;
  font: 18px Georgia, serif;
  font-weight: bold;
}

table {
  color: MidnightBlue;
  width: 800px
   border:1px solid black;
   border-collapse:collapse;
}

.warning {
  color:red;
}

nav {
  border: 3px dashed MidnightBlue;
  padding: 10px 10px;
  margin: 0;
  max-width: 1000px;
  min-width:500px;
}

main{
  border: 3px dashed MidnightBlue;
  padding: 20px 20px 20px 20px;
  margin: 0;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: green;
}

li {
  display: inline-block;
  margin: 0 10px;
  list-style-type: square;
  list-style-position:inside;
  list-style-image: url('../images/purple.jpg');
}

footer {
  width: 500px;
  font-size: 15px;
  border: 3px dashed MidnightBlue;
  padding: 80px 20px;
  margin: 0;

}
