@charset "UTF-8";

header {
  color: white;
  border: 8px dotted MidnightBlue;
  padding: 80px 20px;
  margin: 0;
}

p {
  color:MidnightBlue;
  font: Georgia, serif;
  line-height: 36px;
  width: 800px;
  border: 8px dashed MidnightBlue;
  padding: 30px;

}

h1 {
  color: Indigo;
  font: 40px Georgia, serif;

}

body {
  background-color: MediumAquaMarine;
}

ul {
  color: Indigo;
  font: 18px Georgia, serif;
  font-weight: bold;
}

table {
  color: MidnightBlue;
}

nav {
  border: 8px dotted MidnightBlue;
  padding: 80px 20px;
  margin: 0;
}

footer {
  font-size: 10px;
  border: 8px dotted MidnightBlue;
  padding: 80px 20px;
  margin: 0;

}
